# Pré-processamento do Dataset da Olist

Origem do dataset: [kaggle/olistbr-brazilian-ecommerce](https://www.kaggle.com/olistbr/brazilian-ecommerce).

Segundo a descrição do kaggle, este dataset contém:
* dados coletados entre 2016 e 2018;
* ~100 mil pedidos de múltiplos marketplaces no Brasil.

### Para baixar os dados

Entre no [link do Kaggle](https://www.kaggle.com/olistbr/brazilian-ecommerce) e faça download dos datasets e coloque-os na pasta chamada `data`:
* `olist_customers_dataset`
* `olist_orders_dataset`
* `olist_order_items_dataset`
* `olist_sellers_dataset`
* `olist_geolocation_dataset`

#### Alternativa - use a api do kaggle

Instale a biblioteca do kaggle, rodando o comando abaixo em uma célula de notebook:

```bash
! pip install kaggle
```

Vá ao seu perfil no kaggle (você precisa estar logado), clique em "Account" e procure pela opção "Create new API token". Ao clicar nesse botão, um arquivo chamado `kaggle.json` vai ser baixado para seu computador. Esse arquivo contém suas informações de autenticação para usar a API. Copie esse arquivo para o local adequado:
* em sistemas UNIX (Linux, MacOS): `~/.kaggle/kaggle.json`
* no Windows:  `C:\Users<Windows-username>.kaggle\kaggle.json` - substitua `<Windows-username>` pelo seu nome de usuário.

Se tudo estiver certo, você deve conseguir rodar o seguinte comando em uma célula de notebook:

```bash
! kaggle datasets download -d olistbr/brazilian-ecommerce
```

Isso deve baixar um arquivo compactado `.zip` chamado `brazilian-ecommerce.zip`. Descompacte os arquivos e coloque os seguintes arquivos na pasta chamada `data`:
* `olist_customers_dataset.csv`
* `olist_orders_dataset.csv`
* `olist_order_items_dataset.csv`
* `olist_sellers_dataset.csv`
* `olist_geolocation_dataset.csv`

Em sistemas UNIX, você pode rodar o seguinte conjunto de comandos para descompactar os arquivos e movê-los para a pasta chamada `data`:
```bash
! unzip brazilian-ecommerce.zip
! mv olist_customers_dataset.csv data
! mv olist_orders_dataset.csv data
! mv olist_order_items_dataset.csv data
! mv olist_sellers_dataset.csv data
! mv olist_geolocation_dataset.csv data
```
    
Você pode apagar os outros arquivos ou dar uma espiadinha, caso tenha curiosidade :)

Referência: [documentação sobre a API pública do kaggle](https://www.kaggle.com/docs/api).

In [ ]:
# ! pip install pandas tqdm

In [ ]:
# ! kaggle datasets download -d olistbr/brazilian-ecommerce
# ! unzip brazilian-ecommerce.zip
# ! rm brazilian-ecommerce.zip
# ! mv olist_customers_dataset.csv data
# ! mv olist_orders_dataset.csv data
# ! mv olist_order_items_dataset.csv data
# ! mv olist_sellers_dataset.csv data
# ! mv olist_geolocation_dataset.csv data

In [3]:
import pandas as pd
from tqdm import tqdm

In [4]:
customers_df = pd.read_csv("data/olist_customers_dataset.csv")
orders_df = pd.read_csv("data/olist_orders_dataset.csv")
order_items_df = pd.read_csv("data/olist_order_items_dataset.csv")
sellers_df = pd.read_csv("data/olist_sellers_dataset.csv")
geo_df = pd.read_csv("data/olist_geolocation_dataset.csv")

In [5]:
geo_df.columns = [col.replace("geolocation_", "") for col in geo_df.columns]

### Dando uma olhada nos dataframes

In [6]:
datasets_preview = {
    "customers": customers_df.head(n=2),
    "orders": orders_df.head(n=2),
    "order_items": order_items_df.head(n=2),
    "sellers": sellers_df.head(n=2),
    "geolocation": geo_df.head(n=2)
}

In [7]:
for name, dataset in datasets_preview.items():
    print(f"\t\t\t\t**{name}**")
    display(dataset)

				**customers**

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

				**orders**

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00

				**order_items**

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93

				**sellers**

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP

				**geolocation**

   zip_code_prefix        lat        lng       city state
0             1037 -23.545621 -46.639292  sao paulo    SP
1             1046 -23.546081 -46.644820  sao paulo    SP

### Vamos usar apenas os pedidos que contém apenas um único item para facilitar

Isso corresponde a cerca de 90% dos dados.

In [8]:
order_counts = order_items_df["order_id"].value_counts().reset_index().rename(columns={"index": "order_id", "order_id": "count"})
order_counts_1 = order_counts[order_counts["count"] == 1]

In [9]:
print(f"Pedidos com um único item compõem {100 * len(order_counts_1) / len(order_counts):.2f}% do dataset")

Pedidos com um único item compõem 90.06% do dataset

### Preparando o dataset de pedidos

**Passo 1**
* deixar no dataset apenas as linhas cujos `order_id` estão em `order_counts_1`
* incluir as colunas `seller_id` e `freight_value` no dataframe `orders_df`

In [10]:
super_orders_df = orders_df \
    .merge(order_counts_1[["order_id"]], on="order_id") \
    .merge(order_items_df[["order_id", "seller_id", "freight_value"]], on="order_id")

**Passo 2**
* incluir as colunas `customer_zip_code_prefix`, `customer_city` e `customer_state` a partir do dataframe `customer_df`
* incluir as colunas `seller_zip_code_prefix`, `seller_city` e `seller_state` a partir do dataframe `seller_df`
* remover colunas `customer_id` e `seller_id`

In [11]:
super_orders_df = super_orders_df \
    .merge(customers_df.drop("customer_unique_id", 1), on="customer_id") \
    .merge(sellers_df, on="seller_id") \
    .drop(["customer_id", "seller_id"], 1)

**Passo 3**

* incluir colunas de geolocalização (latitude, longitude)

In [12]:
geo_df["lat_long"] = geo_df.apply(lambda row: (row["lat"], row["lng"]), axis=1)

In [13]:
lat_long_dict = geo_df.set_index("zip_code_prefix")["lat_long"].to_dict()

In [14]:
for user_type in ["customer", "seller"]:
    zip_codes = super_orders_df[f"{user_type}_zip_code_prefix"].tolist()
    lat_long_list = []
    for zc in tqdm(zip_codes):
        lat_long_list.append(lat_long_dict.get(zc, (0, 0)))
    lats, longs = list(zip(*lat_long_list))
    super_orders_df[f"{user_type}_lat"] = lats
    super_orders_df[f"{user_type}_long"] = longs

100%|██████████| 88863/88863 [00:00<00:00, 1641410.81it/s]
100%|██████████| 88863/88863 [00:00<00:00, 1994458.58it/s]

**Informações do dataset**

In [15]:
super_orders_df.head(n=2)

,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,freight_value,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state,customer_lat,customer_long,seller_lat,seller_long
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,8.72,3149,sao paulo,SP,9350,maua,SP,-23.583452,-46.586284,-23.675542,-46.442547
1,8736140c61ea584cb4250074756d8f3b,delivered,2017-08-10 13:35:55,2017-08-10 13:50:09,2017-08-11 13:52:35,2017-08-16 19:03:36,2017-08-23 00:00:00,7.79,8577,itaquaquecetuba,SP,9350,maua,SP,-23.494316,-46.364539,-23.675542,-46.442547

In [16]:
super_orders_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88863 entries, 0 to 88862
Data columns (total 18 columns):
order_id                         88863 non-null object
order_status                     88863 non-null object
order_purchase_timestamp         88863 non-null object
order_approved_at                88850 non-null object
order_delivered_carrier_date     87959 non-null object
order_delivered_customer_date    86840 non-null object
order_estimated_delivery_date    88863 non-null object
freight_value                    88863 non-null float64
customer_zip_code_prefix         88863 non-null int64
customer_city                    88863 non-null object
customer_state                   88863 non-null object
seller_zip_code_prefix           88863 non-null int64
seller_city                      88863 non-null object
seller_state                     88863 non-null object
customer_lat                     88863 non-null float64
customer_long                    88863 non-null float64
seller_lat                       88863 non-null float64
seller_long                      88863 non-null float64
dtypes: float64(5), int64(2), object(11)
memory usage: 12.9+ MB

### Salvando o dataset final (dataframe `super_orders_df`)

In [17]:
super_orders_df.to_csv("../processed_olist_orders.csv", index=False)